<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getsafetee.safetee">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.getsafetee.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.getsafetee.circleoffriends.FriendsList"
            android:label="@string/title_activity_friends_list"
            android:parentActivityName="com.getsafetee.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafetee.MainActivity" />
        </activity>
        <activity android:name="com.getsafetee.audiorecorder.activities.VoiceRecorderMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name="com.getsafetee.audiorecorder.services.RecordingService" />

        <activity
            android:name="com.getsafetee.FragmentHolderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.getsafetee.IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="com.getsafetee.incidencereport.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
        android:name="com.getsafetee.auth.LoginActivity"
        android:label="@string/app_name" />

        <activity
            android:name="com.getsafetee.auth.SignupActivity"
            android:label="@string/app_name" />

    </application>

</manifest>