<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getsafeteeapp.safetee">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name="com.getsafeteeapp.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.getsafeteeapp.auth.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.getsafeteeapp.circleoffriends.FriendsList"
            android:label="@string/title_activity_friends_list"
            android:parentActivityName="com.getsafeteeapp.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>
        <activity
            android:name="com.getsafeteeapp.audiorecorder.activities.VoiceRecorderMainActivity"
            android:parentActivityName="com.getsafeteeapp.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.getsafeteeapp.audiorecorder.services.RecordingService" />
        <service android:name="com.getsafeteeapp.quickhelp.QuickRecord" />


        <activity
            android:name="com.getsafeteeapp.FragmentHolderActivity"
            android:label="@string/app_name" />

        <activity
        android:name="com.getsafeteeapp.IntroActivity"
        android:theme="@style/Theme.Intro" />

        <activity
            android:name="com.getsafeteeapp.util.ReportSent"
            android:theme="@style/Theme.Intro" />

        <activity
            android:name="com.getsafeteeapp.incidencereport.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.MainActivity2"
            android:label="@string/app_name"/>

        <activity
            android:name="com.getsafeteeapp.auth.SignupActivity"
            android:label="Sign up"
            android:parentActivityName="com.getsafeteeapp.auth.LoginActivity"/>

        <activity
        android:name="com.getsafeteeapp.safetytips.SafetyTips"
        android:label="@string/title_activity_safety_tips"
        android:parentActivityName="com.getsafeteeapp.MainActivity2"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.getsafeteeapp.MainActivity2" />
    </activity>

        <activity
            android:name="com.getsafeteeapp.safetytips.TipsLocal"
            android:label="@string/title_activity_safety_tips"
            android:parentActivityName="com.getsafeteeapp.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.safetytips.TipView"
            android:label="Tip"
            android:parentActivityName="com.getsafeteeapp.safetytips.TipsLocal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.safetytips.TipsLocal" />
        </activity>

        <service
            android:name="com.getsafeteeapp.safetytips.TipsUpdate" android:exported="false"/>

        <activity
            android:name="com.getsafeteeapp.auth.SettingMain"
            android:label="Settings"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.auth.SettingActivity"
            android:label="Account"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.AboutActivity"
            android:label="About"
            android:parentActivityName="com.getsafeteeapp.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.RecordsActivity"
            android:label="Records"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.RecordsLocal"
            android:label="Records"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.auth.SettingRecords"
            android:label="Settings"
            android:parentActivityName="com.getsafeteeapp.RecordsLocal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.RecordsLocal" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.RecordView"
            android:label="Safetee"
            android:parentActivityName="com.getsafeteeapp.RecordsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.RecordsActivity" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.DonateToNGO"
            android:label="Donate"
            android:parentActivityName="com.getsafeteeapp.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.MainActivity2" />
        </activity>

        <activity
            android:name="com.getsafeteeapp.OrganizationView"
            android:label=""
            android:parentActivityName="com.getsafeteeapp.auth.SettingMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getsafeteeapp.auth.SettingMain" />
        </activity>

    </application>

</manifest>